@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<h5>SportsPro Technical support constantly strives to provide the highest level 
    of technical support for all products in the SportsPro family.</h5>
